{% extends "base.html" %}

{% block title %}Alle Items{% endblock %}

{% block content %}


<table>
{% for obj in object_list %}
<tr>
  <td>
		<a id="mid_{{obj.message_id}}">{{obj.date}}</a>
	</td>
	<td>
		<a href="{{obj.author.get_absolute_url}}">{{obj.author.username}}</a>
	</td>
  <td>
    {% if obj.reply_to %}
      <a href="#mid_{{obj.reply_to.message_id}}">{{obj.reply_to.text}}</a>
    {% endif %}
  </td>
	<td>
		{{obj.text}}
	</td>
</tr>
{% endfor %}
</table>

{% endblock %}
{% comment %}
	{% include "generic/table_generic_inc.html" %}
{% endcomment %}
