{% extends "base.html" %}

{% block title %}Alle Items{% endblock %}

{% block content %}


<table>
  <thead>
    <tr>
      <th>
        Datum/Zeit
      </th>
    </tr>
    <tr>
      <th>
        Autor
      </th>
    </tr>
    <tr>
      <th>
      </th>
    </tr>
    <tr>
      <th>
        (Antwort hierauf)<br />
        Nachricht
      </th>
    </tr>
  </thead>
{% for obj in object_list %}
<tr class="{% cycle 'even' 'odd' %}">
  <td>
		<a id="mid_{{obj.message_id}}">{{obj.date|date:'j.N, H:m'}}</a>
	</td>
	<td>
		<a href="{{obj.author.get_absolute_url}}">{{obj.author.username}}</a>
	</td>
  <td class="weit">
  </td>
	<td>
    {% if obj.reply_to %}
      <span class="reply_to">
        <i>Antwort auf</i><br />
      <a href="#mid_{{obj.reply_to.message_id}}">{{obj.reply_to.text}}</a>
      </span>
    {% endif %}
		<div class="bubble">{{obj.text}}</div>
	</td>
</tr>
{% endfor %}
</table>

{% endblock %}
{% comment %}
	{% include "generic/table_generic_inc.html" %}
{% endcomment %}
